.env
docker-compose.yml
var/lib/mysql/aria_log_control
var/lib/mysql/aria_log.00000001
var/lib/mysql/ddl_recovery-backup.log
var/lib/mysql/ddl_recovery.log
var/lib/mysql/ib_buffer_pool
var/lib/mysql/ib_logfile0
var/lib/mysql/ibdata1
var/lib/mysql/ibtmp1
var/lib/mysql/multi-master.info
var/lib/mysql/mysql_upgrade_info
var/lib/mysql/infelix_commentator/configuration.frm
var/lib/mysql/infelix_commentator/configuration.ibd
var/lib/mysql/infelix_commentator/db.opt
var/lib/mysql/infelix_commentator/experience.frm
var/lib/mysql/infelix_commentator/experience.ibd
var/lib/mysql/infelix_commentator/formation.frm
var/lib/mysql/infelix_commentator/formation.ibd
var/lib/mysql/mysql/column_stats.frm
var/lib/mysql/mysql/column_stats.MAD
var/lib/mysql/mysql/column_stats.MAI
var/lib/mysql/mysql/columns_priv.frm
var/lib/mysql/mysql/columns_priv.MAD
var/lib/mysql/mysql/columns_priv.MAI
var/lib/mysql/mysql/db.frm
var/lib/mysql/mysql/db.MAD
var/lib/mysql/mysql/db.MAI
var/lib/mysql/mysql/db.opt
var/lib/mysql/mysql/event.frm
var/lib/mysql/mysql/event.MAD
var/lib/mysql/mysql/event.MAI
var/lib/mysql/mysql/func.frm
var/lib/mysql/mysql/func.MAD
var/lib/mysql/mysql/func.MAI
var/lib/mysql/mysql/general_log.CSM
var/lib/mysql/mysql/general_log.CSV
var/lib/mysql/mysql/general_log.frm
var/lib/mysql/mysql/global_priv.frm
var/lib/mysql/mysql/global_priv.MAD
var/lib/mysql/mysql/global_priv.MAI
var/lib/mysql/mysql/gtid_slave_pos.frm
var/lib/mysql/mysql/gtid_slave_pos.ibd
var/lib/mysql/mysql/help_category.frm
var/lib/mysql/mysql/help_category.MAD
var/lib/mysql/mysql/help_category.MAI
var/lib/mysql/mysql/help_keyword.frm
var/lib/mysql/mysql/help_keyword.MAD
var/lib/mysql/mysql/help_keyword.MAI
var/lib/mysql/mysql/help_relation.frm
var/lib/mysql/mysql/help_relation.MAD
var/lib/mysql/mysql/help_relation.MAI
var/lib/mysql/mysql/help_topic.frm
var/lib/mysql/mysql/help_topic.MAD
var/lib/mysql/mysql/help_topic.MAI
var/lib/mysql/mysql/index_stats.frm
var/lib/mysql/mysql/index_stats.MAD
var/lib/mysql/mysql/index_stats.MAI
var/lib/mysql/mysql/innodb_index_stats.frm
var/lib/mysql/mysql/innodb_index_stats.ibd
var/lib/mysql/mysql/innodb_table_stats.frm
var/lib/mysql/mysql/innodb_table_stats.ibd
var/lib/mysql/mysql/plugin.frm
var/lib/mysql/mysql/plugin.MAD
var/lib/mysql/mysql/plugin.MAI
var/lib/mysql/mysql/proc.frm
var/lib/mysql/mysql/proc.MAD
var/lib/mysql/mysql/proc.MAI
var/lib/mysql/mysql/procs_priv.frm
var/lib/mysql/mysql/procs_priv.MAD
var/lib/mysql/mysql/procs_priv.MAI
var/lib/mysql/mysql/proxies_priv.frm
var/lib/mysql/mysql/proxies_priv.MAD
var/lib/mysql/mysql/proxies_priv.MAI
var/lib/mysql/mysql/roles_mapping.frm
var/lib/mysql/mysql/roles_mapping.MAD
var/lib/mysql/mysql/roles_mapping.MAI
var/lib/mysql/mysql/servers.frm
var/lib/mysql/mysql/servers.MAD
var/lib/mysql/mysql/servers.MAI
var/lib/mysql/mysql/slow_log.CSM
var/lib/mysql/mysql/slow_log.CSV
var/lib/mysql/mysql/slow_log.frm
var/lib/mysql/mysql/table_stats.frm
var/lib/mysql/mysql/table_stats.MAD
var/lib/mysql/mysql/table_stats.MAI
var/lib/mysql/mysql/tables_priv.frm
var/lib/mysql/mysql/tables_priv.MAD
var/lib/mysql/mysql/tables_priv.MAI
var/lib/mysql/mysql/time_zone_leap_second.frm
var/lib/mysql/mysql/time_zone_leap_second.MAD
var/lib/mysql/mysql/time_zone_leap_second.MAI
var/lib/mysql/mysql/time_zone_name.frm
var/lib/mysql/mysql/time_zone_name.MAD
var/lib/mysql/mysql/time_zone_name.MAI
var/lib/mysql/mysql/time_zone_transition_type.frm
var/lib/mysql/mysql/time_zone_transition_type.MAD
var/lib/mysql/mysql/time_zone_transition_type.MAI
var/lib/mysql/mysql/time_zone_transition.frm
var/lib/mysql/mysql/time_zone_transition.MAD
var/lib/mysql/mysql/time_zone_transition.MAI
var/lib/mysql/mysql/time_zone.frm
var/lib/mysql/mysql/time_zone.MAD
var/lib/mysql/mysql/time_zone.MAI
var/lib/mysql/mysql/transaction_registry.frm
var/lib/mysql/mysql/transaction_registry.ibd
var/lib/mysql/mysql/user.frm
var/lib/mysql/performance_schema/db.opt
var/lib/mysql/sys/db.opt
var/lib/mysql/sys/host_summary_by_file_io_type.frm
var/lib/mysql/sys/host_summary_by_file_io.frm
var/lib/mysql/sys/host_summary_by_stages.frm
var/lib/mysql/sys/host_summary_by_statement_latency.frm
var/lib/mysql/sys/host_summary_by_statement_type.frm
var/lib/mysql/sys/host_summary.frm
var/lib/mysql/sys/innodb_buffer_stats_by_schema.frm
var/lib/mysql/sys/innodb_buffer_stats_by_table.frm
var/lib/mysql/sys/innodb_lock_waits.frm
var/lib/mysql/sys/io_by_thread_by_latency.frm
var/lib/mysql/sys/io_global_by_file_by_bytes.frm
var/lib/mysql/sys/io_global_by_file_by_latency.frm
var/lib/mysql/sys/io_global_by_wait_by_bytes.frm
var/lib/mysql/sys/io_global_by_wait_by_latency.frm
var/lib/mysql/sys/latest_file_io.frm
var/lib/mysql/sys/memory_by_host_by_current_bytes.frm
var/lib/mysql/sys/memory_by_thread_by_current_bytes.frm
var/lib/mysql/sys/memory_by_user_by_current_bytes.frm
var/lib/mysql/sys/memory_global_by_current_bytes.frm
var/lib/mysql/sys/memory_global_total.frm
var/lib/mysql/sys/metrics.frm
var/lib/mysql/sys/processlist.frm
var/lib/mysql/sys/ps_check_lost_instrumentation.frm
var/lib/mysql/sys/schema_auto_increment_columns.frm
var/lib/mysql/sys/schema_index_statistics.frm
var/lib/mysql/sys/schema_object_overview.frm
var/lib/mysql/sys/schema_redundant_indexes.frm
var/lib/mysql/sys/schema_table_lock_waits.frm
var/lib/mysql/sys/schema_table_statistics_with_buffer.frm
var/lib/mysql/sys/schema_table_statistics.frm
var/lib/mysql/sys/schema_tables_with_full_table_scans.frm
var/lib/mysql/sys/schema_unused_indexes.frm
var/lib/mysql/sys/session_ssl_status.frm
var/lib/mysql/sys/session.frm
var/lib/mysql/sys/statement_analysis.frm
var/lib/mysql/sys/statements_with_errors_or_warnings.frm
var/lib/mysql/sys/statements_with_full_table_scans.frm
var/lib/mysql/sys/statements_with_runtimes_in_95th_percentile.frm
var/lib/mysql/sys/statements_with_sorting.frm
var/lib/mysql/sys/statements_with_temp_tables.frm
var/lib/mysql/sys/sys_config.frm
var/lib/mysql/sys/sys_config.MAD
var/lib/mysql/sys/sys_config.MAI
var/lib/mysql/sys/user_summary_by_file_io_type.frm
var/lib/mysql/sys/user_summary_by_file_io.frm
var/lib/mysql/sys/user_summary_by_stages.frm
var/lib/mysql/sys/user_summary_by_statement_latency.frm
var/lib/mysql/sys/user_summary_by_statement_type.frm
var/lib/mysql/sys/user_summary.frm
var/lib/mysql/sys/version.frm
var/lib/mysql/sys/wait_classes_global_by_avg_latency.frm
var/lib/mysql/sys/wait_classes_global_by_latency.frm
var/lib/mysql/sys/waits_by_host_by_latency.frm
var/lib/mysql/sys/waits_by_user_by_latency.frm
var/lib/mysql/sys/waits_global_by_latency.frm
var/lib/mysql/sys/x@0024host_summary_by_file_io_type.frm
var/lib/mysql/sys/x@0024host_summary_by_file_io.frm
var/lib/mysql/sys/x@0024host_summary_by_stages.frm
var/lib/mysql/sys/x@0024host_summary_by_statement_latency.frm
var/lib/mysql/sys/x@0024host_summary_by_statement_type.frm
var/lib/mysql/sys/x@0024host_summary.frm
var/lib/mysql/sys/x@0024innodb_buffer_stats_by_schema.frm
var/lib/mysql/sys/x@0024innodb_buffer_stats_by_table.frm
var/lib/mysql/sys/x@0024innodb_lock_waits.frm
var/lib/mysql/sys/x@0024io_by_thread_by_latency.frm
var/lib/mysql/sys/x@0024io_global_by_file_by_bytes.frm
var/lib/mysql/sys/x@0024io_global_by_file_by_latency.frm
var/lib/mysql/sys/x@0024io_global_by_wait_by_bytes.frm
var/lib/mysql/sys/x@0024io_global_by_wait_by_latency.frm
var/lib/mysql/sys/x@0024latest_file_io.frm
var/lib/mysql/sys/x@0024memory_by_host_by_current_bytes.frm
var/lib/mysql/sys/x@0024memory_by_thread_by_current_bytes.frm
var/lib/mysql/sys/x@0024memory_by_user_by_current_bytes.frm
var/lib/mysql/sys/x@0024memory_global_by_current_bytes.frm
var/lib/mysql/sys/x@0024memory_global_total.frm
var/lib/mysql/sys/x@0024processlist.frm
var/lib/mysql/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
var/lib/mysql/sys/x@0024ps_digest_avg_latency_distribution.frm
var/lib/mysql/sys/x@0024ps_schema_table_statistics_io.frm
var/lib/mysql/sys/x@0024schema_flattened_keys.frm
var/lib/mysql/sys/x@0024schema_index_statistics.frm
var/lib/mysql/sys/x@0024schema_table_lock_waits.frm
var/lib/mysql/sys/x@0024schema_table_statistics_with_buffer.frm
var/lib/mysql/sys/x@0024schema_table_statistics.frm
var/lib/mysql/sys/x@0024schema_tables_with_full_table_scans.frm
var/lib/mysql/sys/x@0024session.frm
var/lib/mysql/sys/x@0024statement_analysis.frm
var/lib/mysql/sys/x@0024statements_with_errors_or_warnings.frm
var/lib/mysql/sys/x@0024statements_with_full_table_scans.frm
var/lib/mysql/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
var/lib/mysql/sys/x@0024statements_with_sorting.frm
var/lib/mysql/sys/x@0024statements_with_temp_tables.frm
var/lib/mysql/sys/x@0024user_summary_by_file_io_type.frm
var/lib/mysql/sys/x@0024user_summary_by_file_io.frm
var/lib/mysql/sys/x@0024user_summary_by_stages.frm
var/lib/mysql/sys/x@0024user_summary_by_statement_latency.frm
var/lib/mysql/sys/x@0024user_summary_by_statement_type.frm
var/lib/mysql/sys/x@0024user_summary.frm
var/lib/mysql/sys/x@0024wait_classes_global_by_avg_latency.frm
var/lib/mysql/sys/x@0024wait_classes_global_by_latency.frm
var/lib/mysql/sys/x@0024waits_by_host_by_latency.frm
var/lib/mysql/sys/x@0024waits_by_user_by_latency.frm
var/lib/mysql/sys/x@0024waits_global_by_latency.frm
var/node_modules/.bin/sass
var/node_modules/anymatch/index.d.ts
var/node_modules/anymatch/index.js
var/node_modules/anymatch/LICENSE
var/node_modules/anymatch/package.json
var/node_modules/anymatch/README.md
var/node_modules/binary-extensions/binary-extensions.json
var/node_modules/binary-extensions/binary-extensions.json.d.ts
var/node_modules/binary-extensions/index.d.ts
var/node_modules/binary-extensions/index.js
var/node_modules/binary-extensions/license
var/node_modules/binary-extensions/package.json
var/node_modules/binary-extensions/readme.md
var/node_modules/braces/index.js
var/node_modules/braces/LICENSE
var/node_modules/braces/package.json
var/node_modules/braces/README.md
var/node_modules/braces/lib/compile.js
var/node_modules/braces/lib/constants.js
var/node_modules/braces/lib/expand.js
var/node_modules/braces/lib/parse.js
var/node_modules/braces/lib/stringify.js
var/node_modules/braces/lib/utils.js
var/node_modules/chokidar/index.js
var/node_modules/chokidar/LICENSE
var/node_modules/chokidar/package.json
var/node_modules/chokidar/README.md
var/node_modules/chokidar/lib/constants.js
var/node_modules/chokidar/lib/fsevents-handler.js
var/node_modules/chokidar/lib/nodefs-handler.js
var/node_modules/chokidar/types/index.d.ts
var/node_modules/fill-range/index.js
var/node_modules/fill-range/LICENSE
var/node_modules/fill-range/package.json
var/node_modules/fill-range/README.md
var/node_modules/glob-parent/CHANGELOG.md
var/node_modules/glob-parent/index.js
var/node_modules/glob-parent/LICENSE
var/node_modules/glob-parent/package.json
var/node_modules/glob-parent/README.md
var/node_modules/immutable/LICENSE
var/node_modules/immutable/package.json
var/node_modules/immutable/README.md
var/node_modules/immutable/dist/immutable.d.ts
var/node_modules/immutable/dist/immutable.es.js
var/node_modules/immutable/dist/immutable.js
var/node_modules/immutable/dist/immutable.js.flow
var/node_modules/immutable/dist/immutable.min.js
var/node_modules/is-binary-path/index.d.ts
var/node_modules/is-binary-path/index.js
var/node_modules/is-binary-path/license
var/node_modules/is-binary-path/package.json
var/node_modules/is-binary-path/readme.md
var/node_modules/is-extglob/index.js
var/node_modules/is-extglob/LICENSE
var/node_modules/is-extglob/package.json
var/node_modules/is-extglob/README.md
var/node_modules/is-glob/index.js
var/node_modules/is-glob/LICENSE
var/node_modules/is-glob/package.json
var/node_modules/is-glob/README.md
var/node_modules/is-number/index.js
var/node_modules/is-number/LICENSE
var/node_modules/is-number/package.json
var/node_modules/is-number/README.md
var/node_modules/normalize-path/index.js
var/node_modules/normalize-path/LICENSE
var/node_modules/normalize-path/package.json
var/node_modules/normalize-path/README.md
var/node_modules/picomatch/CHANGELOG.md
var/node_modules/picomatch/index.js
var/node_modules/picomatch/LICENSE
var/node_modules/picomatch/package.json
var/node_modules/picomatch/README.md
var/node_modules/picomatch/lib/constants.js
var/node_modules/picomatch/lib/parse.js
var/node_modules/picomatch/lib/picomatch.js
var/node_modules/picomatch/lib/scan.js
var/node_modules/picomatch/lib/utils.js
var/node_modules/readdirp/index.d.ts
var/node_modules/readdirp/index.js
var/node_modules/readdirp/LICENSE
var/node_modules/readdirp/package.json
var/node_modules/readdirp/README.md
var/node_modules/sass/LICENSE
var/node_modules/sass/package.json
var/node_modules/sass/README.md
var/node_modules/sass/sass.dart.js
var/node_modules/sass/sass.default.cjs
var/node_modules/sass/sass.default.js
var/node_modules/sass/sass.js
var/node_modules/sass/sass.node.js
var/node_modules/sass/sass.node.mjs
var/node_modules/sass/types/compile.d.ts
var/node_modules/sass/types/deprecations.d.ts
var/node_modules/sass/types/exception.d.ts
var/node_modules/sass/types/importer.d.ts
var/node_modules/sass/types/index.d.ts
var/node_modules/sass/types/options.d.ts
var/node_modules/sass/types/legacy/exception.d.ts
var/node_modules/sass/types/legacy/function.d.ts
var/node_modules/sass/types/legacy/importer.d.ts
var/node_modules/sass/types/legacy/options.d.ts
var/node_modules/sass/types/legacy/plugin_this.d.ts
var/node_modules/sass/types/legacy/render.d.ts
var/node_modules/sass/types/logger/index.d.ts
var/node_modules/sass/types/logger/source_location.d.ts
var/node_modules/sass/types/logger/source_span.d.ts
var/node_modules/sass/types/util/promise_or.d.ts
var/node_modules/sass/types/value/argument_list.d.ts
var/node_modules/sass/types/value/boolean.d.ts
var/node_modules/sass/types/value/calculation.d.ts
var/node_modules/sass/types/value/color.d.ts
var/node_modules/sass/types/value/function.d.ts
var/node_modules/sass/types/value/index.d.ts
var/node_modules/sass/types/value/list.d.ts
var/node_modules/sass/types/value/map.d.ts
var/node_modules/sass/types/value/mixin.d.ts
var/node_modules/sass/types/value/number.d.ts
var/node_modules/sass/types/value/string.d.ts
var/node_modules/source-map-js/LICENSE
var/node_modules/source-map-js/package.json
var/node_modules/source-map-js/README.md
var/node_modules/source-map-js/source-map.d.ts
var/node_modules/source-map-js/source-map.js
var/node_modules/source-map-js/lib/array-set.js
var/node_modules/source-map-js/lib/base64-vlq.js
var/node_modules/source-map-js/lib/base64.js
var/node_modules/source-map-js/lib/binary-search.js
var/node_modules/source-map-js/lib/mapping-list.js
var/node_modules/source-map-js/lib/quick-sort.js
var/node_modules/source-map-js/lib/source-map-consumer.d.ts
var/node_modules/source-map-js/lib/source-map-consumer.js
var/node_modules/source-map-js/lib/source-map-generator.d.ts
var/node_modules/source-map-js/lib/source-map-generator.js
var/node_modules/source-map-js/lib/source-node.d.ts
var/node_modules/source-map-js/lib/source-node.js
var/node_modules/source-map-js/lib/util.js
var/node_modules/to-regex-range/index.js
var/node_modules/to-regex-range/LICENSE
var/node_modules/to-regex-range/package.json
var/node_modules/to-regex-range/README.md
.docker/db/dockerfile
.docker/web/dockerfile
.docker/web/php_infelix.ini
.docker/web/server.crt
.docker/web/server.key
.docker/web/vhost.conf
verifCaptcha/index.php
