$primary: #780382;  
$secondary: #6c757d;
$success: #28a745;

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@import "infelix-strap";
@import "func";
@import "footer";
@import "index";

