body{
    .footer{
        @apply self-end max-w-full w-full shadow-md pt-4  py-4;
        .footer-content{
            @apply flex justify-center items-center h-52 flex-col;
            .bottom{
                @apply  flex flex-col-reverse;

                .footer-content__pages{
                    @apply flex gap-4 mb-0;
                    li{
                        @apply inline;
                    }

                    li::after{
                        content: " ";
                        @apply inline-block w-[0.3rem] h-[0.3rem] align-middle ml-4;
                    }

                    li:last-child::after{
                        @apply hidden;
                    }

                    a{
                        @apply underline;
                        text-decoration: none;
                    }
                }
                .footer-content__socials{
                    @apply flex gap-4 pl-0;

                    .socials-btn{

                        @apply h-auto w-15 flex justify-center items-center transition;

                        a{
                            text-decoration: none;
                            @apply text-2xl w-full;
                        }
    
                        img, svg{ 
                            @apply max-w-full h-auto max-h-full hover:shadow transition;
                        }
                    }
                }
            }
        }
    }
}
