@import 'infelix-strap/functions';

$container-max-width-sm: 540px;
$container-max-width-md: 720px;
$container-max-width-lg: 960px;
$container-max-width-xl: 1140px;
$container-max-width-xxl: 1200px;

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.container {
  width : 1400px;

  @media (max-width: 1400px) {
    width: 100%;
  }

  &-fluid {
    width: 100%;
  }

  &-xxl{
    width : $container-max-width-xxl;

    @media (max-width: $container-max-width-xxl) {
      width: 100%;
    }
  }

  &-xl{
    width : $container-max-width-xl;
    
    @media (max-width: $container-max-width-xl) {
      width: 100%;
    }
  }

  &-lg{
    width : $container-max-width-lg;
    
    @media (max-width: $container-max-width-lg) {
      width: 100%;
    }
  }

  &-md{
    width : $container-max-width-md;
    
    @media (max-width: $container-max-width-md) {
      width: 100%;
    }
  }

  &-sm{
    width : $container-max-width-sm;
    
    @media (max-width: $container-max-width-sm) {
      width: 100%;
    }
  }
}
