@import 'infelix-strap/functions';

// Container

$container-max-width-sm: 540px;
$container-max-width-md: 720px;
$container-max-width-lg: 960px;
$container-max-width-xl: 1140px;
$container-max-width-xxl: 1200px;

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  margin-left: auto;
  margin-right: auto;
  padding-left: .625rem;
  padding-right: .625rem;
  width: 100%;
}

.container {
  width : 1400px;

  @media (max-width: 1400px) {
    width: 100%;
    max-width: 100%;
  }

  &-fluid {
    width: 100%;
    max-width: 100%;
  }

  &-xxl{
    width : $container-max-width-xxl;

    @media (max-width: $container-max-width-xxl) {
      width: 100%;
      max-width: 100%;
    }
  }

  &-xl{
    width : $container-max-width-xl;
    
    @media (max-width: $container-max-width-xl) {
      width: 100%;
      max-width: 100%;
    }
  }

  &-lg{
    width : $container-max-width-lg;
    
    @media (max-width: $container-max-width-lg) {
      width: 100%;
      max-width: 100%;
    }
  }

  &-md{
    width : $container-max-width-md;
    
    @media (max-width: $container-max-width-md) {
      width: 100%;
      max-width: 100%;
    }
  }

  &-sm{
    width : $container-max-width-sm;
    
    @media (max-width: $container-max-width-sm) {
      width: 100%;
      max-width: 100%;
    }
  }
}

.d-none {
  display: none;
}

.p-absolute {
  position: absolute;
}
.p-relative {
  position: relative;
}

@for $i from 0 through 5 {
  .p-#{$i} {
    padding: $i * .625rem;
  }
  .pt-#{$i} {
    padding-top: $i * .625rem;
  }
  .pr-#{$i} {
    padding-right: $i * .625rem;
  }
  .pb-#{$i} {
    padding-bottom: $i * .625rem;
  }
  .pl-#{$i} {
    padding-left: $i * .625rem;
  }
  .px-#{$i} {
    padding-left: $i * .625rem;
    padding-right: $i * .625rem;
  }
  .py-#{$i} {
    padding-top: $i * .625rem;
    padding-bottom: $i * .625rem;
  }
  .m-#{$i} {
    margin: $i * .625rem;
  }

  .mt-#{$i} {
    margin-top: $i * .625rem;
  }

  .mr-#{$i} {
    margin-right: $i * .625rem;
  }

  .mb-#{$i} {
    margin-bottom: $i * .625rem;
  }

  .ml-#{$i} {
    margin-left: $i * .625rem;
  }

  .mx-#{$i} {
    margin-left: $i * .625rem;
    margin-right: $i * .625rem;
  }

  .my-#{$i} {
    margin-top: $i * .625rem;
    margin-bottom: $i * .625rem;
  }

  /* .w-#{$i*20} {
    width: $i * 20%;
  }*/
}


.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

.align-content-stretch {
  align-content: stretch;
}

.text-center {
  text-align: center;
}

// Grid

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.625rem;
  margin-right: -.625rem;
}

.d-grid {
  display: grid;
}

.col {
  padding-left: .625rem;
  padding-right: .625rem;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 calc(100% / 12 * $i);
    max-width: calc(100% / 12 * $i);
  }
}
